.latest-header h2::before {
  content: "";
  display: block;
  margin: 0;
  min-width: 3rem;
  flex: 3rem;
  border-bottom: 0.5rem solid #293139;
}
.latest-header h2 {
  display: flex;
  flex-direction: row;
  color: #fff;
  align-items: center;
}
.latest-header h2::after {
  content: "";
  display: block;
  border-bottom: 0.5rem solid #293139;
  flex: 100;
}

.latest-header h2 span {
  flex: auto;
  display: inline-block;
  text-align: center;
  padding-right: 0.4rem;
  padding-left: 0.2rem;
  font-weight: bold;
}
.latest-header h2 .red-color {
  color: #dd163b;
}
